<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="#">Watto's Junkshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="query" name="queryInput">
      <button class="btn btn-secondary my-2 my-sm-0" (click)="searchClicked()">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

      <div class="col-lg-3 position-fixed bg-light" style="height:100%">
          <br>
          <br>
          <div class="row">
            <div class="col">
                <h4>Refine your search</h4>
                <hr>
            </div>
            
          </div>
    
          <div class="row">
            <div class="col">
              <div class="row">
                  <label> Filter Prices</label>
              </div>
              <div class="row">
                  <input class="input" type="number" [(ngModel)]="priceLowerBound" name="lowerBoundInput" placeholder="low" (input)="onPriceFilterChange()">
              </div>
              <div class="row">
                  <input class="input" type="number" [(ngModel)]="priceUpperBound" name="upperBoundInput" placeholder="high" (input)="onPriceFilterChange()">
              </div>
            <hr>
    
            </div>
          </div>
        </div>


    <div class="col-lg-9 offset-3">
        <div *ngFor="let ship of displayShips; let i = index">
            <div class="card mb-3">
              <div class="card-header">{{ship.name}}</div>
              <div class="card-body">
                <h4 class="card-title">{{ship.cost_in_credits}} credits</h4>
                <h5 class="card-title">Pilots: {{ship.pilotCount}}</h5>
              </div>
            </div>
          </div>
    </div>
   
  </div>
</div>